
.navbar {
  color: black;
  width: 100%;
  background-color: #ABABAB;
  overflow: auto;
}

.navbar a {
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 17px;
  width: 20% ; /* Five links of equal widths */
  text-align: center;
}

.navbar a.active {
  background-color: #08827D;
}

.navbar a:hover {
  color: #FFFFFF;
  background-color:#000000;
}

.navbar a.active:hover{
  color: #FFFFFF;
  background-color: #000000;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.condorimage {
  float: center;
  outline: black;
  width: 40%;
  height: 40%;
}

body{
  margin: 0px;
}

