a {
  color: #E83737;
}

.navbar {
  /*fix margin*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #ABABAB;
  overflow: auto;
}

.navbar a {
  color: black;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 17px;
  width: 20% ; /* Five links of equal widths */
  text-align: center;
}

.navbar a.active {
  background-color: #08827D;
}

.navbar a:hover {
  color: #FFFFFF;
  background-color:#000000;
}

.navbar a.active:hover{
  color: #FFFFFF;
  background-color: #000000;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.condorimage {
  float: center;
  outline: black;
  width: 40%;
  height: 40%;
}
.contact-head{
  text-align: center;
  color: #007499;
  font-size: 60px;
  font-weight: bold;
  font-family: Georgia, Verdana;
}
h2.contact-head{
  font-size: 40px;
}
.contact-media{
  font-family: Verdana, Times New Roman;
}
img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 4px 4px 4px grey;
  width: 20%;
  height: 20%;
}

img:hover{
  box-shadow: 8px 8px 6px grey;
}

a:hover{
  color: orange;
}
body{
  background-color: #CBF2FF;
}

